redis==5.0.8
redisvl==0.3.4
blinker==1.8.2
google==3.0.0
google-ai-generativelanguage==0.6.6
google-api-core==2.19.2
google-api-python-client==2.147.0
googleapis-common-protos==1.65.0
google-auth==2.34.0
google-auth-httplib2==0.2.0
google-cloud-vision==3.7.4
google-generativeai==0.7.2
proto-plus==1.24.0
protobuf==4.25.5
typing_extensions==4.12.2
cachetools==5.5.0
click==8.1.7
tornado==6.4.1
toml==0.10.2
requests==2.32.3
urllib3==2.2.2
idna==3.8
certifi==2024.8.30
lxml==5.3.0
regex==2024.7.24
chardet==5.2.0
emoji==2.12.1
psutil==5.9.0
tabulate==0.9.0
filetype==1.2.0
olefile==0.47
python-oxmsg==0.0.1
numpy==1.26.4
nltk==3.9.1
python-iso639==2024.4.27
langdetect==1.0.9
six==1.16.0
torch==2.4.1
pydantic==2.8.2
pydantic_core==2.20.1
annotated-types==0.7.0
packaging==24.1
pyaml==24.7.0
PyYAML==6.0.2
coloredlogs==15.0.1
humanfriendly==10.0
tenacity==8.5.0
python-ulid==2.7.0
langsmith==0.1.128
orjson==3.10.7
httplib2==0.22.0
httpx==0.27.2
sniffio==1.3.1
httpcore==1.0.5
h11==0.14.0
jsonpatch==1.33
jsonpointer==3.0.0
grpcio==1.66.1
grpcio-status==1.62.3
pyasn1==0.6.0
pyasn1_modules==0.4.0
rsa==4.9
pyparsing==3.1.4
uritemplate==4.1.1
tqdm==4.66.5
filelock==3.16.0
safetensors==0.4.5
scikit-learn==1.5.1
joblib==1.4.2
scipy==1.14.1
threadpoolctl==3.5.0
tokenizers==0.19.1
pillow==10.4.0
sympy==1.13.2
mpmath==1.3.0
huggingface-hub==0.24.6
transformers==4.44.2
sentence-transformers==2.7.0
streamlit==1.38.0
streamlit-extras==0.4.7
langchain==0.2.16
langchain-core==0.3.6
langchain-huggingface==0.0.3
langchain-redis==0.0.4
langchain-community==0.2.16
langchain-google-genai==2.0.0
unstructured==0.15.10
unstructured[pdf]
